In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_source_file_path = 'csv_source_files/'
source_date = pd.read_csv(csv_source_file_path + 'calendar.csv')

In [3]:
source_date['date'] = pd.to_datetime(source_date['date']).dt.strftime('%Y-%m-%d')
source_date = source_date[ (source_date['date']>'2018-12-31') & (source_date['date']<'2030-01-01') ]

source_date.insert(0, "Date_surrogate_key",  np.arange(len(source_date)))
source_date.insert(11, "Weekend_flag",False)
source_date.insert(12, "Holiday_flag",False)
source_date['Weekend_flag'] = source_date['weekday'].map(lambda x: True if ((x==7) | (x==1)) else False)
source_date['Holiday_flag'] = source_date['holiday'].isna()
source_date['Holiday_flag'] = source_date['Holiday_flag'].map(lambda x: False if (x) else True)
source_date.head()

,Date_surrogate_key,sasdate,date_key,word_date,date,year,quarter,month,day_of_month,week,day_of_week,Weekend_flag,Holiday_flag,weekday,month_and_year,holiday,timezone_id,timezone,timezone_offset
21549,0,21550,10119,"January 1, 2019",2019-01-01,2019,1,1,1,0,Tue,False,True,3,JAN1960,NEWYEAR,ETC/GMT+7,GMT-07:00,-25200
21550,1,21551,10219,"January 2, 2019",2019-01-02,2019,1,1,2,0,Wed,False,False,4,JAN1960,NaN,ETC/GMT+7,GMT-07:00,-25200
21551,2,21552,10319,"January 3, 2019",2019-01-03,2019,1,1,3,0,Thu,False,False,5,JAN1960,NaN,ETC/GMT+7,GMT-07:00,-25200
21552,3,21553,10419,"January 4, 2019",2019-01-04,2019,1,1,4,0,Fri,False,False,6,JAN1960,NaN,ETC/GMT+7,GMT-07:00,-25200
21553,4,21554,10519,"January 5, 2019",2019-01-05,2019,1,1,5,0,Sat,True,False,7,JAN1960,NaN,ETC/GMT+7,GMT-07:00,-25200

In [4]:
csv_result_file_path = 'csv_result_files/'
source_date.to_csv(csv_result_file_path + 'Date_dimension.csv',index=False)